{% extends "base.html" %}

{% block body_class %}planner_body{% endblock %}
{% block planner_nav %} class="active"{% endblock %}

{% block content %}
<div class="planner">
  <div class="actions btn-toolbar">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Add  <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#add_module" role="button" data-toggle="modal">Add Module</a></li>
        <li class="divider"></li>
        <li><a href="#add_row" role="button" data-toggle="modal">Add Row</a></li>
        <li class="divider"></li>
        <li><a href="#add_custom_module" role="button" data-toggle="modal">Add Custom Module</a></li>
        <li><a href="{% url custom_modules %}">Manage Custom Modules</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Load  <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#load_online_setup" role="button" data-toggle="modal">Load Setup</a></li>
        <li><a href="#load_from_file" role="button" data-toggle="modal">Load Setup From File</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Save  <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#save_online_setup" role="button" data-toggle="modal">Save Setup</a></li>
        <li><a href="#" class="btn_save_to_file">Save Setup To File</a></li>
        <li><a href="#save_setup_image" role="button" data-toggle="modal">Save Setup as Image</a></li>
      </ul>
    </div>

    <button class="btn btn_delete_selected btn-danger">Delete Selected</button>
    <button class="btn btn_clear btn-danger">Clear All</button>
  </div>


  <div class="modal hide fade" id="add_row">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Add Row</h3>
    </div>
    <div class="modal-body">
      <form class="form-inline">
        <input type="text" name="width" value="" placeholder="Width (in HP)">
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cancel</button>
      <button class="btn btn-primary btn_add">Add</button>
    </div>
  </div>

  <div class="modal hide fade" id="add_module">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Add Module</h3>
    </div>
    <div class="modal-body">
      <form class="form-inline">
        <input type="hidden" name="module_id" value="">
        <input type="text" name="autocomplete" class="module_autocomplete" placeholder="Type a name to start searching">
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cancel</button>
      <button class="btn btn-primary btn_add">Add</button>
    </div>
  </div>

  <div class="modal hide fade" id="add_custom_module">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Add Custom Module</h3>
    </div>
    <div class="modal-body">
      {% if custom_modules %}
      <form class="form-inline">
        <select name="module_id">
          {% for module in custom_modules %}
          <option value="{{ module.id }}">{{ module }}</option>
          {% endfor %}
        </select>
      </form>
      {% else %}
      You haven't uploaded any modules yet. <a href="{% url new_custom_module %}">Upload one</a>
      {% endif %}
    </div>
    <div class="modal-footer">
      {% if custom_modules %}
      <button class="btn" data-dismiss="modal">Cancel</button>
      <button class="btn btn-primary btn_add">Add</button>
      {% else %}
      <button class="btn" data-dismiss="modal">Ok</button>
      {% endif %}
    </div>
  </div>

  <div class="modal hide fade" id="load_online_setup">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Load Setup</h3>
    </div>
    <div class="modal-body">
      {% if saved_setups %}
      <form class="form-inline">
        <select name="setup_id">
          {% for setup in saved_setups %}
          <option value="{{ setup.id }}">{{ setup.name }}</option>
          {% endfor %}
        </select>
      </form>
      {% else %}
      You haven't saved any setups yet.
      {% endif %}
    </div>
    <div class="modal-footer">
      {% if saved_setups %}
      <button class="btn" data-dismiss="modal">Cancel</button>
      <button class="btn btn-danger btn_delete">Delete</button>
      <button class="btn btn-primary btn_add">Load</button>
      {% else %}
      <button class="btn" data-dismiss="modal">Ok</button>
      {% endif %}
    </div>
  </div>

  <div class="modal hide fade" id="save_online_setup">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Save Setup</h3>
    </div>
    <div class="modal-body">
      {% if request.user.is_authenticated %}
      <form class="form-inline" method="post" action="{% url save_online_setup %}">
        {% csrf_token %}
        <input name="name" type="text" placeholder="Name">
        <input type="hidden" name="preset" value="">
      </form>
      {% else %}
      You need to <a href="{% url registration_register %}">register</a> to save setups online.  You can still save to file.
      {% endif %}
    </div>
    <div class="modal-footer">
      {% if request.user.is_authenticated %}
      <button class="btn" data-dismiss="modal">Cancel</button>
      <button class="btn btn-primary btn_add">Save</button>
      {% else %}
      <button class="btn" data-dismiss="modal">Ok</button>
      {% endif %}
    </div>
  </div>

  <div class="modal hide fade" id="save_setup_image">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Save Setup as Image</h3>
    </div>
    <div class="modal-body">
      {% if request.user.is_authenticated %}
      <form class="form-inline" method="post" action="{% url save_setup_image %}">
        {% csrf_token %}
        After hitting save, your image will be emailed to you shortly.
        <input type="hidden" name="preset" value="">
      </form>
      {% else %}
      You need to <a href="{% url registration_register %}">register</a> to save setups as images.  Use screencaps in the meantime.
      {% endif %}
    </div>
    <div class="modal-footer">
      {% if request.user.is_authenticated %}
      <button class="btn" data-dismiss="modal">Cancel</button>
      <button class="btn btn-primary btn_add">Save</button>
      {% else %}
      <button class="btn" data-dismiss="modal">Ok</button>
      {% endif %}
    </div>
  </div>

  <div class="modal hide fade" id="load_from_file">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Load Setup From File</h3>
    </div>
    <div class="modal-body">
      <form class="load_from_file form-inline">
        <input type="file" name="file">
        <div class="error"></div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
  </div>

  <form class="save_to_file" target="_blank" method="post" action="/modules/save-to-file/">
    {% csrf_token %}
    <input type="hidden" name="preset" value="">
  </form>

  <div class="case">
    <ul class="euro_rows unstyled">
    </ul>
  </div>
  <div class="case_totals"></div>
</div>

<div class="credit">Module data from <a href="http://eurorackdb.com">The Eurorack Database</a>.</div>

{% endblock content %}

{% block javascript %}<script type="text/javascript">$(document).ready(function() { $(".planner").planner() });</script>{% endblock %}
