body {
  padding: 60px 0 40px;
}

.container {
  width: auto !important;
  margin: 0 10px;
}

/* Planner */
body.planner_body {
  background: #111;
  color: #eee;
}

.planner {
  position: relative;
}

.planner .case {
  position: relative;
  margin-left: 100px;
}

.planner .euro_row {
  height: 262px;
  background: url(../images/euro_rails.png);
  position: relative;
  z-index: 1;
}

.planner .euro_row .info {
  position: absolute;
  left: -100px;
  top: 0;
  font-size: 12px;
  line-height: 1.4em;
  height: 242px;
  padding: 10px;
  background: black;
  width: 80px;
}

.planner .row_nav {
  position: absolute;
  left: 10px;
  top: 65px;
  opacity: 0.7;
}

.planner .module {
  height: 262px;
  width: 10px;
  z-index: 2;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.planner .module.selected {
  border: 1px solid yellow;
}

.planner .module img {
  width: 100%;
  height: 100%;
}

.planner .actions {
  margin-bottom: 20px;
  position: relative;
}

.planner .ui-autocomplete {
  margin: 0;
  width: 220px !important;
  border: 1px dotted #ccc;
  border-bottom: none;
  border-radius: 4px;
  list-style-type: none;
  position: absolute;
}

.planner .ui-autocomplete li {
  background: white;
  border-bottom: 1px dotted #ccc;
}

.planner .ui-autocomplete a {
  display: block;
  padding: 5px 8px;
}

.planner .ui-autocomplete .ui-state-hover {
  background: #eaeaea;
}

.planner .module_trash {
  display: none;
  position: absolute;
  right: 0;
  top: 46px;
  height: 225px;
  padding: 20px 10px;
  background: #222;
  color: #666;
  text-align: center;
  
}

.planner .module_trash.active {
  display: block;
}

.planner .dropdown-menu {
  color: black;
}

.planner .modal {
  color: #666;
}

.planner #add_module {
  overflow: visible;
}

/* Accounts */
.register {
  width: 500px;
  margin: 0 auto;
}

/* Manage */
.manage {
  width: 800px;
  margin: 0 auto;
}

.manage .custom_modules form {
  display: none
}

.manage .custom_modules li {
  line-height: 2em;
}

.manage .custom_modules li:hover form {
  display: inline;
}