{% extends "base.html" %}
{% block about_nav %} class="active"{% endblock %}

{% block content %}
<div class="manage">
  <h1>What is this?</h1>
  <p>
    Eurorack planner is an open source web application that helps you plan your eurorack setup.
    We welcome any contributions to the codebase, source code is available at: <a href="http://github.com/udbhav/eurorack-planner">http://github.com/udbhav/eurorack-planner</a>.
    Addititional information may be found on <a href="http://www.muffwiggler.com/forum/viewtopic.php?t=69468">the thread at Muff Wiggler's</a>.
  </p>

  <p>
    Bugs/Feature Requests? <a href="https://github.com/udbhav/eurorack-planner/issues/new">Open an issue on Gitub</a>.
  </p>

  <p>
    Questions/Comments? Please email <a href="mailto:support@eurorackplanner.com">support@eurorackplanner.com</a>
  </p>

  <p>
    This project is developed and maintained by <a href="http://udbhavgupta.com">Udbhav Gupta</a>.
  </p>
</div>
{% endblock %}
